body, main, div, h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    font-size: 11pt;
}

body {
    flex-direction: column;
}

h1{
    border-bottom: 1px solid #ccc;
    font-weight: 200;
    color: #555;
    height:150px;
    width: 600px;
    padding-left: 10px;
    padding-bottom: 35px;
    margin-bottom: 60px;
    font-size: 35pt;
    align-items: flex-end;
    justify-content: left;
}

main{
    width:600px;
}

img{
    width:40px;
    height:40px;
}

div.cell{
    width:120px;
    height:150px;
}


div.cell div { /* 마우스 커서 hover 시 배경색이 바뀌는 영역. 안에 img 노드, 텍스트 노드가 들어있다. */
    width: 110px;
    height: 100px;
    flex-direction: column;
    position: relative;
}

div.cell div:hover{
    background-color: #eee;
    cursor: pointer;
}

.arrow_box {
    display: none;
    position: absolute;
    top: 50px;
    width: 100px;
    padding: 5px;
    z-index:10000;
    background: #eee;
  }
  
  div:hover > p.arrow_box {
    display: block;
  }
