body{
    display:flex;
    justify-content: center;
    align-items: center;
}
main{
    width:50%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

img{
    width:40px;
    height:40px;
}

div.item{
border:1px solid white;    width:100px;
    height:100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

div.item div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width:60px;
}